body {
    background-image: url('/public/custom/img/SuperSmashBros_char_01b_870.png'), url('/public/custom/img/SuperSmashBros_char_05_880.png'); 
    background-repeat:no-repeat, no-repeat; 
    background-position: -335px 50px, 1240px 50px;
}

.fc-view {
	background-color: white;
}

.fc-widget-header, .fc-widget-content {
border: 2px solid #9B9B9B;
}