/* Custom page CSS
-------------------------------------------------- */

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000;
}

/* BOOTSTRAP DROPDOWN CSS */
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  width:100%;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

/* Calendar day mouseover */
.fc-content td:hover{background: #DFF3F5;}

a { cursor: pointer; }

.fc-event { cursor: pointer; }
.fc-event:hover{background: #66C4F2;}

.about-list {
    text-align: center;
    margin-left: 20%;
}

.about-list-item {
    display: block;
    text-align: left;
}

.about-list-icon {
    color:#E88F1A;
    padding-right:5px;
    display:inline-block;
    text-align:left;
}

.about-list-text {
    display:inline-block;
    font-size:large;
}


.container-wide {
    padding-left:20px;
    padding-right:20px;
}

.row {
    padding-left:20px;
    padding-right:20px;
}

@font-face {
        font-family: lato;
        src: url("/public/custom/font/lato/Lato-Reg.ttf") format("opentype");
}


.navbar-static-top {
border-width: 0 0 0px;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-brand:hover {
    color: #DDDDDD;
}

div.navbar {
    background-color: #384452;
    font-family: 'raleway';
    font-weight: 900
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'lato';
}
p, div {
    font-family: 'lato';
}


.navbar-fixed-top {
    position: static;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    min-width: 320px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

/* Sticky footer styles
            ------------------------------------------------------------------------------------------------- */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}
