{% extends 'layout.html' %}
{% block body %}
<link href="/public/custom/css/about.css" rel="stylesheet">
<div style="padding:20px;">

<div class="list-inline center-block text-center">
  <h1 style="padding-bottom:40px;">Interested in finding the next tournament for your favorite game?</h1>

  <ul class="about-list">
    <li class="about-list-item">
        <i class="fa fa-check-circle-o fa-2x about-list-icon"></i>
        <div class="about-list-text">Easily find any upcoming tournaments for any game.</div>
    </li>
    <li class="about-list-item">
        <i class="fa fa-check-circle-o fa-2x about-list-icon"></i>
        <div class="about-list-text">Never miss out on any event.</div>
    </li>
    <li class="about-list-item">
      <i class="fa fa-check-circle-o fa-2x about-list-icon"></i>
      <div class="about-list-text">Discover new and amazing games.</div>
    </li>
    <li class="about-list-item">
      <i class="fa fa-check-circle-o fa-2x about-list-icon"></i>
      <div class="about-list-text">Watch the best players from around the world.</div>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-md-4">
    <div style="text-align:center;">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x" style="color:#6EC2CB"></i>
        <i class="fa fa-space-shuttle fa-stack-1x fa-rotate-270" style="color:#EBE7C1"></i>
      </span>
      
      <h3><b>DISCOVER</b></h3>
      <br>
      Discover any upcoming tournaments for the games you're interested in.
    </div>
  </div>
  <div class="col-md-4">
    <div style="text-align:center;">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x" style="color:#6EC2CB"></i>
        <i class="fa fa-star-o fa-stack-1x" style="color:#EBE7C1"></i>
      </span>
      <h3><b>ONE WEBSITE</b></h3>
      <br>
      One location to find everything you need to know, stream information, brackets, schedules, and more!
    </div>
  </div>
  <div class="col-md-4">
    <div style="text-align:center;">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x" style="color:#6EC2CB"></i>
        <i class="fa fa-check fa-stack-1x" style="color:#EBE7C1"></i>
      </span>
      <h3><b>FREE</b></h3>
      <br>
      Combo Hype is designed to help people like you find the next event with no trouble and no cost.
    </div>
  </div>
  
</div>

<div class="list-inline center-block text-center">
  <h1 style="padding-bottom:40px;">Why was this site created?</h1>
  <h4 style="margin-left:150px;margin-right:150px">
      We found that it is difficult to know when the next tournament will be.
      To solve this problem we developed Combo Hype to be a single location for any future gaming event or tournament. The goal is to make finding out about these streamed events a simple, easy, and fast experience.
  </h4>
</div>

</div>
{% endblock %}

{% block script %}
{% endblock %}
