{% extends 'layout.html' %}
{% block body %}

Admin page	

<div style="margin:20px">
    <h3>Events Pending Approval</h3>
<table class="table table-bordered" id="pendingEventsTable" style="padding-bottom:20px; margin-bottom:50px;">
    <thead>
    <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Stream URL</th>
        <th>Game Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr class="warning">
        <td class="vert-align">game</td>
        <td class="vert-align">start</td>
        <td class="vert-align">end</td>
        <td class="vert-align">http://twitch.tv/bah</td>
        <td class="vert-align">league of garbage</td>
        <td class="vert-align">description</td>
        <td class="vert-align">pending approval 
            <button type="button" class="btn btn-danger pull-right" style="margin-left:5px">Reject</button>
            <button type="button" class="btn btn-success pull-right" style="margin-right:5px">Approve</button>
        </td>
    </tr>
  </tbody>
</table>

<h3>Events Approved</h3>
<table class="table table-bordered" id="approvedEventsTable" style="padding-bottom:20px; margin-bottom:50px;">
    <thead>
    <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Stream URL</th>
        <th>Game Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr class="success">
        <td class="vert-align">game</td>
        <td class="vert-align">start</td>
        <td class="vert-align">end</td>
        <td class="vert-align">http://twitch.tv/bah</td>
        <td class="vert-align">league of garbage</td>
        <td class="vert-align">description</td>
        <td class="vert-align">approved 
            <button type="button" class="btn btn-danger pull-right" style="margin-left:5px">Delete</button>
        </td>
    </tr>
  </tbody>
</table>

</div>

{% endblock %}
