{% extends 'layout.html' %} {% block body %}
<div class="container-wide" ng-controller="homeCtrl">
    <div class="row">
        <div class="col-md-10" style="width:inherit">
            <div id="twitchContainer" style="width:920px;">
            </div>
        </div>
        <div style="background-color:#DDDDDD;height:380px;overflow-y: auto;">
            <div class="well" style="width:100%;">
                <h4>Currently Live Events</h4>
            </div>
            <div class="well" style="width:100%;" ng-repeat="item in currentEvents">
                <a ng-click="changeStreamEmbeded(item.streamUrl, item.description)">[[item.name]] - [[item.gameName]]<br><div style="float:right">[[item.startTime | date:'h:mma']] - [[item.endTime | date:'h:mma']]</div></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="streamDescription">

        </div>
        <div>
            <div class="col-md-10">
                <h1>Coming Up Events:</h1>
            </div>
            <div class="form-group col-md-2">
                <div style="padding-top: 50px;">
                    <input type="text" class="form-control" id="gameFilter" placeholder="Filter by game">
                </div>
            </div>
            <div class="well" style="width:100%;" ng-repeat="item in upcomingEvents">
                [[item.startTime.toString()]]: [[item.name]]
            </div>

            <!-- Modal -->
            <div class="modal fade" tabindex="-1" id="addEventModal" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Add Event to Calendar</h4>
                        </div>
                        <div class="modal-body">
                            <form name="submitEventForm" id="submitEventForm" ng-submit="submitEvent(submitEventForm.$valid)" role="form" novalidate>
                                <div class="form-group">
                                    <label for="eventName">* Event Name</label>
                                    <input type="text" class="form-control" name="eventName" ng-model="name" ng-maxlength="512" placeholder="Super Awesome Tournament" required>
                                </div>
                                <div class="form-group">
                                    <label for="datetimepicker1">* Start Date</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' name="startDate" id="startDate" class="form-control" ng-model="startTime" ng-maxlength="50" format="DD/MM/YYYY hh:mm A" required>
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="datetimepicker2">End Date</label>
                                    <div class='input-group date' id='datetimepicker2'>
                                        <input type='text' name="endDate" class="form-control" ng-model="endTime" ng-maxlength="50">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Timezone</label>
                                    <select name="dropDownTimezone" id="dropDownTimezone">
                                        <option value="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
                                        <option value="-11.0">(GMT -11:00) Midway Island, Samoa</option>
                                        <option value="-10.0">(GMT -10:00) Hawaii</option>
                                        <option value="-9.0">(GMT -9:00) Alaska</option>
                                        <option value="-8.0">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                                        <option value="-7.0">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                                        <option value="-6.0">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                                        <option value="-5.0">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                                        <option value="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                                        <option value="-3.5">(GMT -3:30) Newfoundland</option>
                                        <option value="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                                        <option value="-2.0">(GMT -2:00) Mid-Atlantic</option>
                                        <option value="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
                                        <option value="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                                        <option value="1.0">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
                                        <option value="2.0">(GMT +2:00) Kaliningrad, South Africa</option>
                                        <option value="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                                        <option value="3.5">(GMT +3:30) Tehran</option>
                                        <option value="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                                        <option value="4.5">(GMT +4:30) Kabul</option>
                                        <option value="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                                        <option value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                                        <option value="5.75">(GMT +5:45) Kathmandu</option>
                                        <option value="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                                        <option value="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                                        <option value="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                                        <option value="9.0">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                                        <option value="9.5">(GMT +9:30) Adelaide, Darwin</option>
                                        <option value="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                                        <option value="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                                        <option value="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="gameName">* Game</label>
                                    <input type="text" class="form-control" id="newEventGameName" name="gameName" ng-model="gameName" ng-maxlength="2048" placeholder="Super Awesome Game">
                                    <input type="text" style="display: none;" id="hiddenGameName" ng-model="hiddenGameName" required>
                                    <p ng-show="submitEventForm.gameName.$error.minlength" class="help-block">Username is too short.</p>
                                </div>

                                <div class="form-group">
                                    <label for="streamUrlField">Stream Address</label>
                                    <input type="text" class="form-control" ng-model="streamUrl" ng-maxlength="2048" name="streamUrlField" placeholder="http://twitch.tv/bestchannel">
                                </div>

                                <div class="form-group">
                                    <label for="descriptionField">Description</label>
                                    <textarea name="descriptionField" class="form-control" ng-model="description" ng-maxlength="2048" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default" ng-disabled="submitEventForm.$invalid">Add Event</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Calendar -->
            <div id="calendar" style="padding:50px">

            </div>

        </div>
    </div>
</div>
{% endblock %} {% block script %}
<script src="/public/custom/js/gameEvent.js"></script>
<script src="/public/custom/js/dateHelper.js"></script>
<script src="/public/vendor/jquery/jqueryTyping.js"></script>
<script src="/public/vendor/jquery/jqueryTypeahead.js"></script>
<script src="/public/custom/js/dropdownHandler.js"></script>
<script type="text/javascript">
function homeCtrl($scope, $http) {
    // Events shown at top
    $scope.currentEvents = [];

    // using a dictionary with id for events
    $scope.events = {};

    //Stores a new event in the db
    $scope.submitEvent = function() {
        var values = {};
        $.each($('#submitEventForm').serializeArray(), function(i, field) {
            values[field.name] = field.value;
        });

        var gmtOffset = -(new Date()).getTimezoneOffset() / 60;

        var diff = (values.dropDownTimezone - gmtOffset) + (DateHelper.isDaylightTime() ? 1 : 0);

        var game = new GameEvent(values.eventName, values.startDate, values.endDate, values.streamUrlField, values.gameName, values.descriptionField)
        game.startTime.setHours(game.startTime.getHours() + diff);
        game.endTime.setHours(game.endTime.getHours() + diff);
        $http.post('/api/event', game);
        $scope.showModal();
        location.reload();
    }

    $scope.changeStreamEmbeded = function(streamUrl, description) {
        var channelName = getChannelName(streamUrl);
        var twitchPlayer = buildEmbedPlayer(true, false, channelName);
        $("#twitchContainer").html(twitchPlayer);
        description = description == null ? "" : description;
        $("#streamDescription").html("Stream: " + streamUrl + "<br>" + description);
    }

    $scope.showModal = function() {
        $('#addEventModal').modal('toggle');
    }

    var updateCalendar = function(gameName) {
        $http.get('/api/event/search?orderBy=id&sortOrder=DESC&gameName=' + gameName).
        success(function(resp, status, headers, config) {
            //console.log(resp.data.results)

            var results = resp.data.results;
            var events = [];
            $scope.events = {};
            $.each(results, function(i, result) {
                // store the event in the dictionary
                $scope.events[result.id] = result;
                // create the event object for the calendar
                events.push({
                    id: result.id,
                    title: result.gameName,
                    start: new Date(result.startTime).toString(),
                    end: new Date(result.endTime).toString()
                });
            });

            $('#calendar').fullCalendar('removeEvents');
            $('#calendar').fullCalendar('addEventSource', events)

        }).
        error(function(data, status, headers, config) {});
    }

    var initDropdownTimezone = function() {
        var userTimezone = -moment().zone() / 60;
        var dropdownTimezone = document.getElementById("dropDownTimezone");

        if (DateHelper.isDaylightTime()) {
            userTimezone = userTimezone - 1.0;
        }

        $.each(dropdownTimezone.options, function(i, option) {
            if (option.value == userTimezone) {
                option.selected = true
                return false
            }
        });
    }

    var initCurrentEvents = function() {
        $http.get('/api/event/search?orderBy=id&sortOrder=DESC&liveDuring=' + new Date().getTime()).
        success(function(resp, status, headers, config) {
            $scope.currentEvents = resp.data.results
        }).
        error(function(data, status, headers, config) {})
    }

    var initCalendar = function() {
        var originalBackgroundColor = "rgb(58, 135, 173)";
        var lastEventClicked = null;
        $('#calendar').fullCalendar({
            dayClick: function(date, jsEvent, view) {
                $('#datetimepicker1').data("DateTimePicker").setDate(date);
                // trigger event for validation
                $('#startDate').trigger("change");
                $scope.showModal();
            },
            eventClick: function(calEvent, jsEvent, view) {
                $scope.changeStreamEmbeded($scope.events[calEvent.id].streamUrl, [calEvent.id].description);

                // scroll to the top
                $("html, body").animate({
                    scrollTop: 0
                }, "slow");

                // change the background color and reset the color for the last event
                $(this).css('background-color', 'rgb(58, 200, 173)');
                if (lastEventClicked != null) {
                    lastEventClicked.css('background-color', originalBackgroundColor);
                }
                lastEventClicked = $(this);
            }
        });
        updateCalendar("")
    }


    var initDropdownGameFilter = function() {
        var gameList = [
            'Smash bros melee', 'Smash bros brawl', 'League of legends', 'Dota 2', 'Starcraft 2',
            'Marvel vs Capcom 3', 'Street fighter 4', 'Counter strike go'
        ];
        
        new DropdownHandler($('#gameFilter'), gameList, function() {
            updateCalendar($('#gameFilter').val());
        })

        new DropdownHandler($('#newEventGameName'), gameList, function() {

          $scope.hiddenGameName = $('#newEventGameName').val();
          //$('#hiddenGameName').
          $('#hiddenGameName').trigger("change");
        })
    }

    //MAIN ----------------------------------------------------------------------------
    initDropdownTimezone()
    initCurrentEvents()
    initCalendar()
    initDropdownGameFilter();

    //init game stream
    getTopGameStream(false, function(twitchPlayer) {
        $("#twitchContainer").append(twitchPlayer);
    });

    //init datepickers
    $('#datetimepicker1').datetimepicker();
    $('#datetimepicker2').datetimepicker();
}
</script>
{% endblock %}
