{% extends 'layout.html' %}
{% block body %}
<div class="container-wide" ng-controller="homeCtrl">
	<div class="row">
		<div class="col-md-10" style="width:inherit">
			<div id="twitchContainer" style="width:920px;">
			</div>
		</div>
		<div style="background-color:#DDDDDD;height:380px;overflow-y: auto;">
			<div class="well" style="width:100%;">
        <h4>Currently Live Events</h4>
      </div>
			<div class="well" style="width:100%;" ng-repeat="item in currentEvents">
				[[item.name]] - [[item.gameName]]
			</div>
		</div>
	</div>
	<div class="row">
  <div id="streamDescription">
    
  </div>
	<div>
	  <h1>Coming Up Events:</h1>
	  <div class="well" style="width:100%;" ng-repeat="item in upcomingEvents">
		  [[item.startTime.toString()]]:  [[item.name]]
	  </div>

    <!-- Modal -->
    <div class="modal fade" tabindex="-1" id="addEventModal" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Event to Calendar</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="eventName">* Event Name</label>
                <input type="text" class="form-control" id="eventName" placeholder="Super Awesome Tournament">
              </div>
            <div class="form-group">
                <label for="datetimepicker1">* Start Date</label>
                <div class='input-group date' id='datetimepicker1' >
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="datetimepicker2">End Date</label>
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>

              <div class="form-group">
                <label for="DropDownTimezone">Timezone</label>
                <select name="DropDownTimezone" id="DropDownTimezone">
                      <option value="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
                      <option value="-11.0">(GMT -11:00) Midway Island, Samoa</option>
                      <option value="-10.0">(GMT -10:00) Hawaii</option>
                      <option value="-9.0">(GMT -9:00) Alaska</option>
                      <option value="-8.0">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                      <option value="-7.0">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                      <option value="-6.0">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                      <option value="-5.0">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                      <option value="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                      <option value="-3.5">(GMT -3:30) Newfoundland</option>
                      <option value="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                      <option value="-2.0">(GMT -2:00) Mid-Atlantic</option>
                      <option value="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
                      <option value="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                      <option value="1.0">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
                      <option value="2.0">(GMT +2:00) Kaliningrad, South Africa</option>
                      <option value="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                      <option value="3.5">(GMT +3:30) Tehran</option>
                      <option value="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                      <option value="4.5">(GMT +4:30) Kabul</option>
                      <option value="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                      <option value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                      <option value="5.75">(GMT +5:45) Kathmandu</option>
                      <option value="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                      <option value="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                      <option value="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                      <option value="9.0">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                      <option value="9.5">(GMT +9:30) Adelaide, Darwin</option>
                      <option value="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                      <option value="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                      <option value="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                </select>
              </div>

              <div class="form-group">
                <label for="gameName">* Game</label>
                <input type="text" class="form-control" id="gameName" placeholder="Super Awesome Game">
              </div>

              <div class="form-group">
                <label for="descriptionField">Description</label>
                <textarea id="descriptionField" class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-default">Add Event</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Calendar -->
    <div id="calendar" style="padding:50px">

  </div>

	</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
function homeCtrl($scope, $http) {
	function Event(name, link, game, date){
		this.name = name;
		this.link = link;
		this.game = game;
		this.startTime = date;
		this.endTime = date;
	}

  Date.prototype.stdTimezoneOffset = function() {
      var jan = new Date(this.getFullYear(), 0, 1);
      var jul = new Date(this.getFullYear(), 6, 1);
      return Math.max(jan.getTimezoneOffset(), jul.getTimezoneOffset());
  }

  Date.prototype.dst = function() {
      return this.getTimezoneOffset() < this.stdTimezoneOffset();
  }

  var userTimezone = -moment().zone() / 60;
  var dropdownTimezone = document.getElementById("DropDownTimezone");

  if (new Date().dst()) {
    userTimezone = userTimezone - 1.0;
  }

  for (i = 0; i< dropdownTimezone.options.length; i++)
  {
    if (dropdownTimezone.options[i].value == userTimezone)
    {
      // Item is found. Set its property
      dropdownTimezone.options[i].selected = true;
      break;
    }
  }
  
  

  $('#datetimepicker1').datetimepicker();
  $('#datetimepicker2').datetimepicker();

	$scope.currentEvents = [];

	//$scope.upcomingEvents = [];

  // using a dictionary with id for events
  $scope.events = {};

	$http.get('/api/event/search?orderBy=id&sortOrder=DESC&liveDuring='+new Date().getTime()).
		    success(function(resp, status, headers, config) {
		    	$scope.currentEvents = resp.data.results
		    }).
		    	error(function(data, status, headers, config) {
		    });

	getTopGameStream(false, function(twitchPlayer) {
      $("#twitchContainer").append(twitchPlayer);
    });

    function addEventToCalendar(start, end, timezone, addEventCallback) {
          var currentDate = new Date();
          $.ajax( '/api/event/search?orderBy=id&sortOrder=DESC' )
          .done(function(data) {
            	var results = data.data.results;
              var events = [];
              for(var i=0; i < results.length; i++) {
                  // store the event in the dictionary
                  $scope.events[results[i].id] = results[i];
                  // create the event object for the calendar
                  events.push({
                      id: results[i].id,
                      title: results[i].gameName,
                      url: "#" + results[i].id,
                      start: new Date(results[i].startTime).toString(),
                      end: new Date(results[i].endTime).toString() 
                  });
              }
              // adds the events to the calendar
              addEventCallback(events);
          })
          .fail(function() {
              console.log( "error getting the latest events" );
          });
      }

    var originalBackgroundColor = "rgb(58, 135, 173)";
    var lastEventClicked = null;
    $('#calendar').fullCalendar({
        dayClick: function(date, jsEvent, view) {
            showModal(date.format());

            //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
            //alert('Current view: ' + view.name);
        },
        eventClick: function(calEvent, jsEvent, view) {
 
            var channelName = getChannelName($scope.events[calEvent.id].streamUrl);
            var twitchPlayer = buildEmbedPlayer(true, false, channelName);
            $("#twitchContainer").html(twitchPlayer);

            var description = [calEvent.id].description == null ? "": [calEvent.id].description;
            $("#streamDescription").html("Stream: " + $scope.events[calEvent.id].streamUrl + "<br>" + description);

            // scroll to the top
            $("html, body").animate({ scrollTop: 0 }, "slow");

            // change the background color and reset the color for the last event
            $(this).css('background-color', 'rgb(58, 200, 173)');
            if(lastEventClicked != null) {
              lastEventClicked.css('background-color', originalBackgroundColor);
            }
            lastEventClicked = $(this);
        },
        events: addEventToCalendar
    });

    function showModal() {
      $('#addEventModal').modal('toggle');

    }
}
</script>
{% endblock %}
